<?xml version="1.0" encoding="UTF-8"?>
<config>

	<unitTest_XmlConfig>
		<basic>
			<var1>Hello World</var1>
			<!-- get an int -->
			<var2>125</var2>
			<!-- get a double var -->
			<var3>125.123</var3>
			<!-- parses "true" and "false" can be any case -->
			<var4>TrUe</var4>
		</basic>
		<withAttr>
			<!-- Attributes can store any basic type also -->
			<!-- nodes can be self-closing with the /> -->
			<vars a1="I am a string" a2="12" a3="25.6" a4="false" />
		</withAttr>

		<manySame>
			<Histo name="h1" title="# Events" nBins="100" minX="10" maxX="100" />
			<Histo name="h2" title="Pt" nBins="100" minX="0" maxX="10" />
			<Histo name="h3" title="#eta" widthX=".05" minX="-4" maxX="4" />

			<Histo  title="#eta" widthX=".05" minX="-4" maxX="4" />
			<Histo name="h5"  title="#eta" widthX=".05" minX="-4" maxX="4" />
		</manySame>
		

	</unitTest_XmlConfig>


	<bins hide="true" >
		<ei width="1" min="0" max="800" />

		<events width="1" min="0" max="2" />
		<pt width="0.005" min="0.1" max="10.0" />
		<bbc nBins="200" min="0" max="5000"/>
		<zdc width="1" min="0" max="100"/>
		<nTracks width="1" min="0" max="1450"/>
		<vtxPerp width=".01" min="-4" max="4"/>
		<vtx width="1" min="-100" max="100"/>
		<vtxR width=".01" min="0" max="5"/>
		<dca width=".01" min="-6" max="6"/>
		<dcaMag width=".01" min="0" max="15"/>
		<zVertex width="1" min="-100" max="100"/>
		<eta width=".01" min="-3" max="3"/>
		<tofMult width="2" min="0" max="1500" />
		<refMult width="1" min="0" max="400" />
		<q width="0.005" min="0.1" max="2.1" />
	</bins>

	
	<histograms>
		<Histo name="events" title="#Event" xBins="bins.ei" yBins="bins.events" />
		<Histo name="eventsZ" title="#Events vs. Z" xBins="bins.zVertex" />
		<Histo name="bbc" title="BBC" xBins="bins.ei" yBins="bins.bbc" />
		<Histo name="zdc" title="ZDC" xBins="bins.ei" yBins="bins.zdc" />
	</histograms>
	
</config>
